.wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
